﻿@{
	var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
	// SkinSelector to choose Kendo CSS templates : http://www.kendoui.com/forums/framework/templates/skinselector-to-choose-kendo-css-templates.aspx
	string theme = Convert.ToString(ViewBag.Theme);

	if (string.IsNullOrEmpty(theme) == true)
	{
		theme = "BlueOpal";
		/*
		"Black",
		"BlueOpal",
		"Bootstrap",
		"Default",
		"HighContrast",
		"Metro",
		"MetroBlack",
		"Moonlight",
		"Silver",
		"Uniform",
		*/
	}
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/kendo")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/kendo")
	@Scripts.Render("~/bundles/my")
	<script>
		kendo.culture("@culture");
	</script>
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
			</div>
			<div class="float-right">
				<nav>
					<ul id="menu">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					</ul>
				</nav>
				@(Html.Kendo().DropDownList()
					  .Name("theme")
					  .BindTo(new List<string>() {
							"Black",
							"BlueOpal",
							"Bootstrap",
							"Default",
							"HighContrast",
							"Metro",
							"MetroBlack",
							"Moonlight",
							"Silver",
							"Uniform",
					  })
					  .SelectedIndex(1)
					  .Events(e =>
						{
							e.Select("themeChange");
						})
				)
			</div>
		</div>
	</header>
	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>

	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - My KendoUI ASP.NET MVC Application</p>
			</div>
		</div>
	</footer>
	@* use jquery 1.9.1 in Kendo *@
	@*@Scripts.Render("~/bundles/jquery")*@
	@RenderSection("scripts", required: false)
</body>
</html>

<script>
	var ee;
	function themeChange(e) {
		var theme = this.dataItem(e.item.index()).toLowerCase();

		/*
		Application.fetchSkin(theme, true);

		try {
			//Save a user picked theme in HTML5 browser SessionStorage
			//(for reloading on navigation)
			sessionStorage.setItem("kendoSkin", theme);
		} catch (err) { }
		*/
	};
</script>



