﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RefreshingClock.aspx.cs" Inherits="WebGauge_Samples_Radial_RefreshingClock" %>

<%@ Register TagPrefix="igGaugeProp" Namespace="Infragistics.UltraGauge.Resources" Assembly="Infragistics2.WebUI.UltraWebGauge.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" %>
<%@ Register TagPrefix="igmisc" Namespace="Infragistics.WebUI.Misc" Assembly="Infragistics2.WebUI.Misc.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" %>
<%@ Register TagPrefix="igGauge" Namespace="Infragistics.WebUI.UltraWebGauge" Assembly="Infragistics2.WebUI.UltraWebGauge.v7.3, Version=7.3.20073.38, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>A Refreshing Clock</title>
    <link href="../../../webSample_style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
function refreshGauge()
{
    var gauge = ig_getWebControlById("UltraGauge1");
    gauge.refresh();
}
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <igmisc:WebPanel id="WebPanel1" runat="server" ToolTip="Click arrow to the right to expand and close this description." CssClass="descriptionPanel">
			<PanelStyle CssClass="descriptionPanelContent" />
			<Header Text="A Refreshing Clock" TextAlignment="Left">
				<ExpandedAppearance>
					<Style CssClass="descriptionPanelHeader" />
				</ExpandedAppearance>
			</Header>
			<Template>
			    A Refreshing Clock
			</Template>
		</igmisc:WebPanel>
		<div>
		    Refresh Every: <asp:DropDownList runat="server" ID="intervalPicker" AutoPostBack="true" OnSelectedIndexChanged="intervalPicker_SelectedIndexChanged">
                <asp:ListItem>0</asp:ListItem>
                <asp:ListItem Selected="true">1</asp:ListItem>
                <asp:ListItem>5</asp:ListItem>
                <asp:ListItem>10</asp:ListItem>
            </asp:DropDownList> second(s).
		</div>
		<input type="button" onclick="refreshGauge();" value="Refresh NOW" />
		<igGauge:UltraGauge runat="server" ID="UltraGauge1" RefreshInterval="1" >
            <DeploymentScenario FilePath="..\..\GaugeImages" ImageURL="../../GaugeImages/Gauge_#SEQNUM(100).#EXT" />
            <Gauges>
                <igGaugeProp:RadialGauge>
                    <scales>
<igGaugeProp:RadialGaugeScale EndAngle="990" StartAngle="270">
<MinorTickmarks EndWidth="1" EndExtent="93" Frequency="0.2">
<StrokeElement Color="White"></StrokeElement>
</MinorTickmarks>
<Markers>
<igGaugeProp:RadialGaugeNeedle MidExtent="50" Value="01/10/2007 00:00:00" EndExtent="60" StartWidth="5"><BrushElements>
<igGaugeProp:SolidFillBrushElement Color="Black"></igGaugeProp:SolidFillBrushElement>
</BrushElements>
</igGaugeProp:RadialGaugeNeedle>
</Markers>
<Axes>
<igGaugeProp:TimeAxis StartValue="2007-01-10" EndValue="2007-01-11" TickmarkInterval="01:00:00"></igGaugeProp:TimeAxis>
</Axes>

<MajorTickmarks EndWidth="1"></MajorTickmarks>

<Labels SpanMaximum="0" Extent="90" FormatString="&lt;DATA_VALUE:hh&gt;" Font="Arial, 12pt"><BrushElements>
<igGaugeProp:SolidFillBrushElement Color="Black"></igGaugeProp:SolidFillBrushElement>
</BrushElements>
</Labels>
</igGaugeProp:RadialGaugeScale>
<igGaugeProp:RadialGaugeScale EndAngle="630" StartAngle="270"><Markers>
<igGaugeProp:RadialGaugeNeedle Key="minutes" MidExtent="80" Value="22" EndExtent="90" StartWidth="5"><BrushElements>
<igGaugeProp:SolidFillBrushElement Color="Black"></igGaugeProp:SolidFillBrushElement>
</BrushElements>
</igGaugeProp:RadialGaugeNeedle>
<igGaugeProp:RadialGaugeNeedle MidWidth="1" Key="seconds" EndWidth="1" MidExtent="80" Value="33" EndExtent="95" StartWidth="1">
<Anchor><BrushElements>
<igGaugeProp:RadialGradientBrushElement FocusScales="0, 0" CenterPoint="75, 25" SurroundColor="DarkRed"></igGaugeProp:RadialGradientBrushElement>
</BrushElements>

<StrokeElement Color="Black"></StrokeElement>
</Anchor>

<StrokeElement Color="Black"></StrokeElement>
</igGaugeProp:RadialGaugeNeedle>
</Markers>
<Axes>
<igGaugeProp:NumericAxis EndValue="60"></igGaugeProp:NumericAxis>
</Axes>

<Labels SpanMaximum="0"></Labels>
</igGaugeProp:RadialGaugeScale>
</scales>
                    <dial><BrushElements>
<igGaugeProp:RadialGradientBrushElement FocusScales="0, 0.1" CenterPoint="50, -25" SurroundColor="SaddleBrown" CenterColor="Beige"></igGaugeProp:RadialGradientBrushElement>
</BrushElements>

<StrokeElement Color="Black" Thickness="3"></StrokeElement>
</dial>
                </igGaugeProp:RadialGauge>
            </Gauges>
        </igGauge:UltraGauge>
    </form>
</body>
</html>
