﻿@model IEnumerable<Grid02_UploadFileInCell.Models.UploadEntry>
@{
	ViewBag.Title = "Home Page";
}
<style type="text/css">
	div.t-dropzone
	{
		border: 1px solid #d2dfe6; /* For Vista; Different for each theme */
	}
	
	div.t-dropzone em
	{
		visibility: visible;
	}
</style>

<h2>@ViewBag.Message</h2>


<h3>Ajax binding</h3>
<div>
@(Html.Telerik().Grid(Model)
	.Name("FileGrid1")
	.DataKeys(dataKey => dataKey.Add(f => f.Id))
	.Columns(columns =>
	{
		columns.Bound(f => f.Id).Width(50);
		columns.Bound(f => f.Id2).Width(100);
		columns.Bound(f => f.FileName).Width(100);
		columns.Bound(f => f.Data).EditorTemplateName("AjaxUploadEditor");
		columns.Command(command =>
		{
			command.Edit();
			command.Delete();
		}).Width(100);
	})
	.Editable(editing => editing.FormHtmlAttributes(new {
		enctype = "multipart/form-data"
	}))
	.DataBinding(dataBinding => dataBinding.Ajax()
		.Select("_Index", "Home")
		.Insert("_InsertFile", "Home")
		.Update("_UpdateFile", "Home")
		.Delete("_DeleteFile", "Home")
	)
	.ToolBar(commands => commands
		.Position(GridToolBarPosition.Both)
		.Insert().ButtonType(GridButtonType.ImageAndText)
	)
	.ClientEvents(events => events
		.OnEdit("onEdit")
	)
)
</div>

<h3>Server binding</h3>
<div>
@(Html.Telerik().Grid(Model)
	.Name("FileGrid2")
	.DataKeys(dataKey => dataKey.Add(f => f.Id))
	.Columns(columns =>
	{
		columns.Bound(f => f.Id).Hidden().Width(100).HtmlAttributes(new {
			id = "ID2"
		});
		columns.Bound(f => f.FileName).Width(100);
		columns.Bound(f => f.Data).EditorTemplateName("UploadEditor");
		columns.Command(command => command.Edit()).Width(100);
	})
	.Editable(editing => editing.FormHtmlAttributes(new {
		enctype = "multipart/form-data"
	}))
	.DataBinding(dataBinding => dataBinding.Server().Update("UpdateFile", "Home"))
		//.ToolBar(toolbars => toolbars.Insert().ButtonType(GridButtonType.ImageAndText))
)
</div>
<script type="text/javascript">
	var fileId1; // Grid가 수정모드로 될 때 처리하는 행의 Id
	var fileId2;

	$(function () {

	});

	function onEdit(e) {
		// 수정하는 행을 선택 후
		// AjaxUploadEditor.cshtml 템플릿에서 저장할 때 
		// onUpload 이벤트에서 사용한다.
		fileId1 = parseInt(e.dataItem['Id'], 10);
		fileId2 = e.dataItem['Id2'];	
	}

	function onUpload(e) {
		e.data = {
			fileId1: fileId1,
			fileId2: fileId2 
		};
	}
</script>
