@using Grid01;
@using Grid01.Models;
@model Order
<table>
	<tr>
		<td>@Html.LabelFor(o => o.Id)</td>
		<td>@Html.TextBoxFor(o => o.Id)</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(o => o.EmployeeId)</td>
		<td>@Html.EditorFor(o => o.EmployeeId, "Employee")</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(o => o.OrderDate)</td>
		<td>@Html.Telerik().DateTimePickerFor(o => o.OrderDate)</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(o => o.Description)</td>
		<td>@Html.Telerik().EditorFor(o => o.Description)</td>
	</tr>
</table>
