﻿@{
	ViewBag.Title = "Home Page";
}

@section featured {
	<div class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<p>To learn more about ASP.NET MVC visit
				<a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
				The page features
				<mark>videos, tutorials, and samples</mark>
				to help you get the most from ASP.NET MVC.
				If you have any questions about ASP.NET MVC visit
				<a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
			</p>
		</div>
	</div>
}

<h3>Kendo UI PanelBar</h3>
<br />
<div>
	@(Html.Kendo().PanelBar()
	.Name("IntroPanelBar")
	.Items(items =>
	{
		items.Add()
			.Text("Getting Started")
			.Selected(true)
			.Expanded(true)
			.Content(@<text>
	<p style="padding: 0 1em">ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
				enables a clean separation of concerns and that gives you full control over markup
				for enjoyable, agile development. ASP.NET MVC includes many features that enable
				fast, TDD-friendly development for creating sophisticated applications that use
				the latest web standards.
				<a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a></p>
	</text>);
		items.Add()
			.Text("Add NuGet packages and jump-start your coding")
			.Content(@<text>
	<p style="padding: 0 1em">NuGet makes it easy to install and update free libraries and tools.
				<a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a></p>
	</text>);
		items.Add()
			.Text("Find Web Hosting")
			.Content(@<text>
	<p style="padding: 0 1em">You can easily find a web hosting company that offers the right mix of features
				and price for your applications.
				<a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a></p>
	</text>);
	})
)
</div>
@model IEnumerable<KendoUIMvcApplication1.Models.ProductViewModel>

<div>
	@(Html.Kendo().Grid(Model)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(p => p.ProductID).Groupable(false);
		columns.Bound(p => p.ProductName).Width(200);
		columns.Bound(p => p.UnitPrice).Width(100);
		columns.Bound(p => p.UnitsInStock).Width(100);
	})
	.Groupable()
	.Pageable(pager => pager
		.Refresh(true)
		.Enabled(true)
		.Info(true)
	)
	.Sortable()
	.Scrollable(scroll => scroll
		.Enabled(true)
		.Height(400)
	)
	.Filterable()
	.DataSource(dataSource => dataSource
		.Ajax()
		.Read(read => read.Action("_ProductsRead", "Home"))
	)
)
</div>
