﻿@{
	ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
@Html.ActionLink("Export to Excel", "Export", new {
	page = 1,
	orderBy = "~",
	filter = "~"
}, new {
	id = "exportLink"
})
@model IEnumerable<GridExcelExport.Models.Order>
@(Html.Telerik().Grid(Model)
			.Name("Grid")
			.Columns(columns =>
			{
				columns.Bound(o => o.OrderID);
				columns.Bound(o => o.ShipAddress);
				columns.Bound(o => o.CustomerID);
				columns.Bound(o => o.ShipCountry);
				columns.Bound(o => o.OrderDate);
			})
			.Pageable()
			.Sortable()
			.Filterable()
			.DataBinding(dataBinding => dataBinding
				.Ajax()
					.Select("IndexAjax", "Home"))
			.ClientEvents(events => events.OnDataBound("onDataBound"))
 )
<script type="text/javascript">
	$(function () {
		$('.t-status-text')
			.prepend('<a class="t-button t-button-icontext" style="margin-right:10px;" onclick="exportExcel(\'Grid\');"><span class="t-icon icon-excel"></span>엑셀</div>');
	})

	function ajaxPost(actionName, controller, data, successHander, errorHander) {
		/// <summary>
		/// ajax post action을 처리합니다.
		/// </summary>

		if (errorHander == undefined) {
			errorHander = function (x) {
				var rText = x.responseText;
				var titleRx = new RegExp('\<title\>(.*)\</title\>');
				var exceptionRx = new RegExp('Exception]:(.*)');
				var message = '';

				if (titleRx.test(rText))
					message = titleRx.exec(rText)[1] + '\r\n\r\n';

				if (exceptionRx.test(rText))
					message += htmlDecode(exceptionRx.exec(rText)[1]);

				//debugger;
				alert(message);
			};
		}

		$.ajax(
		{
			url: controller + '/' + actionName,
			data: JSON.stringify(data),
			type: 'POST',
			contentType: 'application/json; charset=utf-8;',
			dataType: 'json',
			success: successHander,
			error: errorHander
		});
	}

	function exportExcel(gridName) {
		var grid = $('#' + gridName).data('tGrid');
		// http://localhost:18803/Home/Export?page=1&orderBy=~&filter=~
		var action = 'Export?page=' + grid.currentPage + '&orderBy=' + grid.orderBy + '&filter=' + grid.filterBy;

		ajaxPost(action, "Home", null,
			function () {
				console.log('success');
			});		
	}

	function onDataBound() {
		var grid = $(this).data('tGrid');
		var $exportLink = $('#exportLink');
		var href = $exportLink.attr('href');
		href = href.replace(/page=([^&]*)/, 'page=' + grid.currentPage);
		href = href.replace(/orderBy=([^&]*)/, 'orderBy=' + (grid.orderBy || '~'));
		href = href.replace(/filter=(.*)/, 'filter=' + (grid.filterBy || '~'));
		$exportLink.attr('href', href);
	}
</script>
