﻿@using Grid01.Models;
	   
Count : @ViewData["employeesCount"]
<div>
@(Html.Telerik().Grid<Order>().Name("Grid1")
	.DataKeys(keys =>
	{
		keys.Add(o => o.Id);
	}).DataBinding(dataBinding =>
	{
		dataBinding.Ajax()
			.Select("_Select", "Home")
			.Update("_Update", "Home");
	}).Columns(columns =>
	{
		columns.Bound(o => o.Id).Width(100);
		columns.ForeignKey(o => o.EmployeeId, (System.Collections.IEnumerable)ViewBag.Employees, "Id", "Name").Width(230);
		// ForeignKey를 사용하려면 Shared EditorTemplates에 GridForeignKey.cshtml 파일이 있어야 한다.
		columns.Bound(o => o.OrderDate).Width(150);
		columns.Command(commands => commands.Edit()).Width(200);
	}).Pageable()
	.Editable(editing => editing
		.Mode(GridEditMode.InLine)
	)
)
</div>
