﻿@using Grid01.Models;
@model List<Order>
<div>
	@(Html.Telerik().Grid(Model).Name("Grid2")
	.DataKeys(keys =>
	{
		keys.Add(o => o.Id);
	}).DataBinding(dataBinding =>
	{
		dataBinding.Server()
			.Select("ServerSideSelect", "Home")
			.Insert("ServerSideInsert", "Home")
			.Update("ServerSideUpdate", "Home");
	}).Columns(columns =>
	{
		columns.Bound(o => o.Id).Width(100);
		// ForeignKey를 사용하려면 Shared EditorTemplates에 GridForeignKey.cshtml 파일이 있어야 한다.
		columns.ForeignKey(o => o.EmployeeId, (System.Collections.IEnumerable)ViewBag.Employees, "Id", "Name").Width(230);
		//columns.Bound(o => o.EmployeeId);
		columns.Bound(o => o.OrderDate).Width(150);
		columns.Bound(o => o.Description).Width(250);
		columns.Command(commands => commands.Edit()).Width(200);
	}).Pageable()
	.ToolBar(commands => commands
			.Position(GridToolBarPosition.Both)
			.Insert().ButtonType(GridButtonType.ImageAndText)
	)
	.Editable(editing =>
		editing.Mode(GridEditMode.InForm).TemplateName("OrderEditor")
	)
)
</div>

<script type="text/javascript">
	$(function () {
		alert($('#Id').length);
	  }
</script>
